# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
AndroidStudioProjects.iml
build/
.gitignore
gradle/
devres/npng/app/build.gradle
devres/npng/build.gradle
build.gradle
.gradle/
gradle.properties
gradlew
gradlew.bat
.idea/
local.properties
settings.gradle
app.iml
libs/
proguard-rules.pro
androidTest/
test/
mipmap-hdpi/
mipmap-mdpi/
mipmap-xhdpi/
mipmap-xxhdpi/
mipmap-xxxhdpi/
drawable-v24/
mipmap-anydpi-v26/
