# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
AndroidStudioProjects.iml
build/
build.gradle
.gitignore
gradle/
.gradle/
gradle.properties
gradlew
gradlew.bat
.idea/
local.properties
settings.gradle
app.iml
libs/
proguard-rules.pro
androidTest/
test/
