<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nopain_nogain.npng">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".App">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CalendarActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".CreateExercise"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".CreateTrain"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".DeleteTrainActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".TrainList"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".RepeatApproachActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".RepeatWeightActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".AddExerciseActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".ViewExerciseFromTrainActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>

        <activity
            android:name=".ShowTrainByDateActivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"/>


    </application>

</manifest>